.text {
  color: rgb(5, 74, 238);
  font-size: 8vw;
  padding-left: 8vw;
  overflow: hidden;
}

.text > span {
  display: block;
  overflow: hidden;
}

.text > span > span {
  display: block;
}

.animated__layers {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.animated.animated__layers * {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
}