@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;600&family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Roboto+Flex:opsz@8..144&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 52, 51, 51,;
  --background-main: 250, 250, 250;
  --background-secondary: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 52, 51, 51;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-main));
}

.slide.active-anim {
  width: 100vw;
  display: block;
}

.slide {
  display: none;
}

.anchor{
  display: block;
  height: 60px;
  /* margin-top: -115px; same height as header */
  visibility: hidden;
}

.shadow {
  filter: drop-shadow(rgba(0,0,0,0.5) 10px 10px 10px);
  --tw-shadow: none
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #398BF9;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #398BF9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}